#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
}

.menuContainer {
  width: 200px;
  height: 100%;
  color: white;
  background-color: #1d3557;
}

.menuContainer h1 {
  margin: 10px;
}

.contentContainer {
  background-color: #f1faee;
}

ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1d3557;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
}

.active {
  background-color: #457b9d;
  color: white;
}